@import '../common-modules/color.scss';

.MusicPlayer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 30px 40px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: $light-pink;
}

.SongInfo, .MusicPlayerControls {
    border-radius: 15px;
}

.SongInfo {
    background-color: $white;
    text-align: right;
    padding: 10px;
    position: relative;
    top: 10px;
    width: 320px;
    height: 105px;
    font-size: 20px;
    opacity: 0.5;
    box-shadow: 10px 10px 10px 0 rgba(68,68,68, 0.1);
    p {
        margin-bottom: 0;
        text-align: left;
        font-size: 17px;
    }
}

.MusicPlayerControls {
    display: inline-block;
    position: relative;
    padding: 10px 10px 10px 144px;
    width: 350px;
    background-color: transparent;
    display: flex;
    align-items: center;
    background-color: $white;
    box-shadow: 10px 10px 10px 0 rgba(68,68,68, 0.1);
    span {
        display: inline-block;
        margin: 10px;
    }
    svg {
        color: $default-text-color;
        width: 25px !important;
        height: 25px;
        opacity: 0.6;
    }

    .PlayBtn svg {
        width: 20px !important;
    }


    .Playing {
        .RotateCircle {
            animation: musicPlaying 4s linear 0s infinite;
        }
    }

    .RotateCircle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        background-color: $dark-brown;
        border: 36px solid rgba(219, 80, 74, 0.7);
        border-top-color: rgba(174,97,110, 0.7);
        border-right-color: rgba(174,97,110, 0.7);
        animation: musicPlaying 3s linear 0s infinite;
        position: absolute;
        top: -69px;
        left: 24px;
        span:first-child {
            background-color: $light-pink;
            width: 15px;
            height: 15px;
            margin: auto;
            border-radius: 50%;
            z-index: 3;
        }
    }
    
}
.SongDuration, .ProgressBar, .SongInfo > p {
    width: 170px;
    margin-left: 128px;
}

.SongDuration {
    display: flex;
    justify-content: space-between;
    p {
        font-size: 13px;
    }
}
.ProgressBar {
    height: 3px;
    background-color: rgba(68,68,68, 0.5);
}

.CurrentProgress {
    height: 3px;
    background-color: $bright-red;
    width: 0%;
    
}

@keyframes musicPlaying {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}