@import '../common-modules/color.scss';

.MusicPlayer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 30px 40px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: $light-pink;
}

h1.Title {
    font-size: 24px;
}

.SongInfo, .MusicPlayerControls {
    border-radius: 15px;
}

.SongInfo {
    background-color: $white;
    text-align: right;
    padding: 10px;
    position: relative;
    top: 10px;
    width: 260px;
    height: 110px;
    font-size: 20px;
    opacity: 0.7;
    box-shadow: 0px 40px 60px -20px rgba(0,0,0,0.2);
    p {
        margin-bottom: 0;
        text-align: left;
        font-size: 15px;
    }
}

.MusicPlayerControls {
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 288px;
    background-color: transparent;
    display: flex;
    align-items: center;
    background-color: $white;
    justify-content: center;
    box-shadow: 0px 40px 60px -20px rgba(0,0,0,0.2);
    span {
        display: inline-block;
        margin: 11px 16px;
        &:hover {
            cursor: pointer;
        }
    }
    svg {
        color: $default-text-color;
        width: 25px !important;
        height: 25px;
        opacity: 0.6;
        transition: 0.2s ease-in-out;
        &:hover {
            color: $bright-red;
        }
    }

    .PlayBtn svg {
        width: 20px !important;
    }


    .Playing {
        .RotateCircle {
            animation: musicPlaying 4s linear 0s infinite;
        }
    }

    .RotateCircle {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        animation: musicPlaying 4.5s linear 0s infinite;
        position: absolute;
        top: -80px;
        left: 22px;
        overflow: hidden;
        opacity: 0.8;
        img {
            width: 190px;
            height: 190px;
            position: absolute;
            top: -50px;
            left: -50px;
            border-radius: 50%;
            z-index: -1;
        }
        span {
            background-color: $light-pink;
            width: 20px;
            height: 20px;
            margin: auto;
            border-radius: 50%;
            z-index: 3;
            border: 6px solid $default-text-color;
        }
    }
}
.SongDuration, .ProgressBar, .SongInfo > p {
    width: 170px;
    margin-left: 70px;
}

.SongDuration {
    display: flex;
    justify-content: space-between;
    p {
        font-size: 13px;
    }
}
.ProgressBar {
    height: 3px;
    background-color: rgba(68,68,68, 0.5);
}

.CurrentProgress {
    height: 3px;
    background-color: $bright-red;
    width: 0%;
    
}

@keyframes musicPlaying {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 500px) {
    .MusicPlayerControls {
        width: 350px;
        padding: 10px 10px 10px 144px;
        span {
            margin: 10px;
        }
        .RotateCircle {
            width: 110px;
            height: 110px;
            top: -69px;
            left: 24px;
            opacity: 0.8;
            span {
                width: 25px;
                height: 25px;
                border: 8px solid $default-text-color;
            }
        }
    }

    .SongInfo {
        width: 320px;
        height: 105px;
        p {
            font-size: 17px;
        }
    }

    .SongDuration, .ProgressBar, .SongInfo > p {
        margin-left: 128px;
    }
}