$black: #000;
$white: #fff;
$default-border-color: #eee;
$default-background-color: #eee;
$default-text-color: rgb(68,68,68);
$dark-pink: #ae616e;
$light-pink: #FFDEE5;
$dark-gray: #3e3e3e;
$light-gray: #D3D3D3;
$light-green: #749b94;
$bright-green: #157A6E;
$dark-orange: #D6931E;
$bright-red: #DB504A;
$dark-brown: #875C45;
$light-yellow: #E3B59D;
$cream-color: #FAE5D2;
$light-purple: #C280BC;