@import '../common-modules/color.scss';

.GridWrapper {
    padding: 10px;
    height: 600px;
    overflow: hidden;
    > div:first-child {
        display: flex;
        align-items: center;
        h1 {
            display: inline-block;
            margin-left: 15px;
            margin-bottom: 0;
        }
        svg {
            width: 25px !important;
            height: 25px;
        }
    }
}

.Grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1.5fr);
    min-height: 700px;
}

.Box {
    color: $default-background-color;
    font-weight: bold;
    opacity: 0.7;
    border-radius: 10px;

    @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
            background-image: url(http://www.fillmurray.com/130/#{ 300 + ( $i * 2 ) });
            background-size: cover;
            background-position: center;
        }
        &:nth-child(#{$i*2 + 3}) {
            background-color: $bright-green;
            grid-row: span 5;
            display: none;
        }
        &:nth-child(#{$i*2+1}) {
            background-color: $bright-red;
            grid-row: span 4;
        }
        &:nth-child(#{$i*2}) {
            background-color: $dark-pink;
            grid-row: span 3;
        }
    }
      
}

@media screen and (min-width: 400px) {
    .GridWrapper {
        padding: 20px;
    }
    .Grid {
        grid-gap: 15px;
        grid-template-columns: repeat(5, 1fr);
    }
    .Box {
        @for $i from 1 through 30 {
            &:nth-child(#{$i*2 + 3}) {
                display: block;
            }
        }
          
    }

}






