@import '../../common-modules/color';
.ControlsWrapper {
    .ButtonWrapper, select {
        margin: auto;
    }
    select, button {
        margin: 5px;
        color: $default-text-color;
        background-color: $white;
        border: 1px solid $default-text-color;
    }

    select {
        padding: 10px;
        height: 30px;
        width: 200px
    }

    button {
        margin: 10px 5px;
        background-color: $white;
        border-radius: 5px;
        padding: 5px;
        width: 45%;
        border-color: $default-text-color;
        &:focus {
            outline: none;
        }
        &:disabled {
            opacity: 0.8;
            cursor: no-drop;
            background-color: $light-gray;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and(min-width: 768px) {
    .ControlsWrapper {
        width: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .ButtonWrapper {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            button {
                width: 20%;
            }
        }
        select {
            width: 100%
        }
    }
}