@import '../../common-modules/color';
.ControlsWrapper {
    width: 290px;
    .ButtonWrapper, select {
        margin: auto;
    }

    .ButtonWrapper {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        flex-wrap: wrap;
    }

    select, button {
        margin: 5px 0;
        color: $default-text-color;
        background-color: $white;
        border: 1px solid $default-text-color;
    }

    select {
        padding: 10px;
        height: 35px;
        width: 100%;
        margin: 0;
        outline: none;
    }

    button {
        background-color: $white;
        border-radius: 5px;
        padding: 5px;
        width: 45%;
        border-color: $default-text-color;
        &:focus {
            outline: none;
        }
        &:disabled {
            opacity: 0.8;
            cursor: no-drop;
            background-color: $light-gray;
        }
        &:hover {
            cursor: pointer;
            background-color: $bright-red;
            color: $white;
        }
    }
}

@media screen and(min-width: 768px) {
    .ControlsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .ButtonWrapper {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            button {
                width: 20%;
            }
        }
        select {
            width: 100%
        }
    }
}