@import '../common-modules/color.scss';

.GridWrapper {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin: 40px 0;

}

.Box {
    color: $default-background-color;
    padding: 20px;
    font-weight: bold;
    opacity: 0.7;
    // Header and Footer
    &:first-child,
    &:last-child {
        background-color: $bright-green;
    }
    // Main
    &:nth-child(2) {
        background-color: $bright-red;
    }
    // Side Bar 1
    &:nth-child(3){
        background-color: $dark-orange;
    }
    // Side Bar 2
    &:nth-child(4){
        background-color: $dark-pink;
    }

    // Side Bar 3
    &:nth-child(5){
        background-color: $dark-brown;
    }
}

@media screen and (min-width: 500px) {
    // Grid 1
    .Box {
        // Header and Footer
        &:first-child, &:last-child {
            grid-column: span 4;
        }
        // Main
        &:nth-child(2)
        {
            grid-column: span 2;
            grid-row: span 4;
        }
        // Side Bar 1
        &:nth-child(3){
            grid-column: span 2;
            grid-row: span 2;
        }
        // Side Bar 2, 3
        &:nth-child(4), &:nth-child(5) {
            grid-column: span 1;
            grid-row: span 2;
        }
    }  
}






