@import './common-modules/color.scss';
.App {
  display: flex;
  color: $default-text-color;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

h1.Title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (min-width: 500px) {
  h1.Title {
    font-size: 30px;
  }
}