@import '../common-modules/color';

.Wrapper {
    padding: 10px;
    min-height: 100vh;
    width: 100%;
    background-color: $default-background-color;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow-Y: hidden;
    justify-content: center;
}